<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Formulario
        </title>
    </head>
    <style>
        body {background: #ABC270; font-family: Helvetica,Arial,sans-serif; font-size:15px;}
        h1 {color:#ECECEC; font-size:20px;}
        input {border-radius: 10px; background: #FEC868; opacity: 0.6}
        button {border-radius: 10px;  #67032F}
    </style>
    <body>
        <h1>
            Calculadora
        </h1>
        <form action="" method="POST">
            <label>
                numero 1:
            </label>
            <input type="number" id="num1" name="num1" required>
            <br>
            <br>
            <label>
                numero 2:
            </label>
            <input type="number" id="num2" name="num2" required>
            <br>
            <br>
            
            <button type="submit" value="suma" name="opera">Suma</button>
            
            <button type="submit" value="resta" name="opera">Resta</button>
            <br>
            <br>
            <button type="submit" value="multiplicacion" name="opera">Multi</button>
            
            <button type="submit" value="division" name="opera">Div</button>
        </form>
    </body>