$def with(data)
$data
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Tabla
        </title>
    </head>
    <body>
        <h1>
            Tabla
        </h1>
        <table>
            <thead>
                <th>No.</th>
                <th>Nombre</th>
            </thead>
            <tbody>
<!-- codificar y agregar python donde esta 1 y dejah, que sea dinamica                <tr> 
                    <td>1</td>
                    <td>dejah</td>
                </tr> -->
            </tbody>
        </table>
    </body>