$def with(datos)
<!DOCTYPE html>
<html lang="es">
    <head>
        <title>
            Tabla
        </title>
    </head>
    <body>
        $datos
        <h1>
            Tabla
        </h1>
        <table>
            <thead>
                <th>No.</th>
                <th>Nombre</th>
            </thead>
            <tbody>
                $for i in datos:
                <tr> 
                    <td>$i[0]</td>
                    <td>$i[1]<td>
                </tr>
            </tbody>
        </table>
    </body>